<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".txt" #>
Result:
<#
    for(int i = 1; i <= 20; i++)
    {
#>
    The square of number <#= i #> is <#= Square(i) #>.
<#
    } 
#>
<#+
private int Square(int i)
{
    return i*i;
}
#>